html, body {
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /*main axis.*/
    align-items: flex-start; /*cross-axis.*/
    position: relative;
}

header {
    width: 90%;
    margin: 0;
    padding: .5em 5%;
    flex: initial; /*flex 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /*main axis.*/
    align-items: center; /*cross-axis.*/
    background: #FFF; /*white*/
    border-bottom: 1px solid #EEE; /*grey 200*/
    position: sticky;
    top: 0;
}

header::before {
    content:  "";
    position: absolute;
    top: 0;
    bottom: -1px;
    width: 1200px;
    left: 100%;
    background: #FFF; /*white*/
    border-bottom: 1px solid #EEE; /*grey 200*/
}

header::after {
    content:  "";
    position: absolute;
    top: 0;
    bottom: -1px;
    width: 1200px;
    right: 100%;
    background: #FFF; /*white*/
    border-bottom: 1px solid #EEE; /*grey 200*/
}

#header-text {
    margin: 0;
    padding: 0;
    flex: initial; /*flex 0 1 auto*/
}

#header-button {
    margin: 0;
    padding: 0;
    flex: initial; /*flex 0 1 auto*/
}

@media all and (min-width: 300px) {
    #header-text {
        width: 60%;
    }

    #header-button {
        width: 35%;
    }
}

@media all and (min-width: 400px) {
    #header-text {
        width: 55%;
    }

    #header-button {
        width: 30%;
    }
}

@media all and (min-width: 500px) {
    #header-text {
        width: 50%;
    }

    #header-button {
        width: 25%;
    }
}

@media all and (min-width: 600px) {
    #header-text {
        width: 45%;
    }

    #header-button {
        width: 20%;
    }
}

#sum-text {
    background: #000;
    visibility: hidden;
}

nav {
    width: 90%;
    margin: 0;
    padding: 0 5%;
    flex: initial; /*flex 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /*main axis.*/
    align-items: center; /*cross-axis.*/
    background: #FFF; /*white*/
    border-bottom: 1px solid #EEE; /*grey 200*/
    position: sticky;
}

nav::before {
    content:  "";
    position: absolute;
    top: 0;
    bottom: -1px;
    width: 1200px;
    left: 100%;
    background: #FFF; /*white*/
    border-bottom: 1px solid #EEE; /*grey 200*/
}

nav::after {
    content:  "";
    position: absolute;
    top: 0;
    bottom: -1px;
    width: 1200px;
    right: 100%;
    background: #FFF; /*white*/
    border-bottom: 1px solid #EEE; /*grey 200*/
}

@media all and (min-width: 300px) {
    nav {
        top: 3em;
    }
}

@media all and (min-width: 400px) {
    nav {
        top: 3.4em;
    }
}

@media all and (min-width: 600px) {
    nav {
        top: 4em;
    }
}

main {
    width: 90%;
    margin: 0;
    padding: 1em 5%;
    flex: 1; /*flex: 1 1 0*/
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /*main axis.*/
    align-items: flex-start; /*cross-axis.*/
}

section {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial; /*flex 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /*main axis.*/
    align-items: center; /*cross-axis.*/
    border-bottom: 1px solid #EEE; /*grey 200*/
}

#votes-heading, .votes {
    margin: 0;
    padding: 0;
    flex: initial; /*flex 0 1 auto*/
}

#state-heading, .state {
    margin: 0;
    padding: 0;
    flex: initial; /*flex 0 1 auto*/
}

#w2020-heading, .w2020 {
    margin: 0;
    padding: 0;
    flex: initial; /*flex 0 1 auto*/
}

@media all and (min-width: 300px) {
    #votes-heading, .votes {
        width: 15%;
    }

    #state-heading, .state {
        width: 40%;
    }

    #w2020-heading, .w2020 {
        width: 35%;
    }
}

@media all and (min-width: 400px) {
    #state-heading, .state {
        width: 35%;
    }

    #w2020-heading, .w2020 {
        width: 30%;
    }
}

@media all and (min-width: 500px) {
    #votes-heading, .votes {
        width: 10%;
    }

    #state-heading, .state {
        width: 30%;
    }

    #w2020-heading, .w2020 {
        width: 25%;
    }
}

@media all and (min-width: 600px) {
    #state-heading, .state {
        width: 25%;
    }

    #w2020-heading, .w2020 {
        width: 20%;
    }
}

button {
    width: 100%;
    margin: 0;
    padding: 0 1em;
    color: #FFF;
    outline: none;
    border: none;
    border-radius: 4px;
}

.biden {
    background: #3A6D8C;
}

.trump {
    background: #F23A29;
}

footer {
    width: 90%;
    margin: 0;
    padding: .0 5%;
    flex: initial; /*flex 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: center; /*main axis.*/
    align-items: flex-start; /*cross-axis.*/
}

/*Fonts*/
p, button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.8;
    font-weight: 400;
}

#votes-heading p, #state-heading p, #w2020-heading p {
    font-weight: 600;
}

.state p {
    display: inline-block;
    cursor: pointer;
    color: #1976D2; /*blue 700*/
}

.state p:hover {
    text-decoration: underline;
}

.selects .votes p, .selects .state p {
    color: #BDBDBD; /*grey 400*/
    text-decoration: line-through;
}

#clear-all {
    cursor: pointer;
    color: #1976D2; /*blue 700*/
}

#clear-all:hover {
    text-decoration: underline;
}

h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 700;
}

@media all and (min-width: 300px) {
    p, button {
        font-size: .875em;
    }

    h1 {
        font-size: 1.2em;
    }
}

@media all and (min-width: 400px) {
    p, button {
        font-size: .9375em;
    }

    h1 {
        font-size: 1.4em;
    }
}

@media all and (min-width: 600px) {
    p, button {
        font-size: 1em;
    }

    h1 {
        font-size: 1.6em;
    }
}