html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    width: 90%;
    margin: 0;
    padding: .5em 5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /*main axis.*/
    align-items: center; /*cross-axis.*/
}

#header-text {
    width: 70%;
    margin: 0;
    padding: 0;
    flex: initial; /*flex 0 1 auto*/
}

#header-button {
    width: 25%;
    margin: 0 5% 0 0;
    padding: 0;
    flex: initial; /*flex 0 1 auto*/
}

#sum-text {
    background: #F5F5F5; /*grey 100*/
}

main {
    width: 90%;
    margin: 0;
    padding: 1em 5%;
    flex: 1;
    overflow: auto;
}

section {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /*main axis.*/
    align-items: center; /*cross-axis.*/
    border-bottom: 1px solid #EEE; /*grey 200*/
}

#votes-heading, .votes {
    width: 10%;
    margin: 0 5% 0 0;
    padding: 0;
    flex: initial; /*flex 0 1 auto*/
}

h1 {
    font-family: 'Francois One', sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

@media all and (min-width: 300px) {
    h1 {
        font-size: 1.2em;
    }
}

@media all and (min-width: 400px) {
    h1 {
        font-size: 1.4em;
    }
}

@media all and (min-width: 600px) {
    h1 {
        font-size: 1.6em;
    }
}

header p {
    font-family: 'Merriweather', serif;
    line-height: 1.8;
    font-weight: 400;
}

@media all and (min-width: 300px) {
    header p {
        font-size: .825em;
    }
}

@media all and (min-width: 600px) {
    header p {
        font-size: .875em;
    }
}

@media all and (min-width: 900px) {
    header p {
        font-size: 1em;
    }
}

#notice {
    margin: 0;
    padding: .25em .5em;
    background: #d7ccc8; /*brown 100*/
    display: inline-block;
}

/*Main and its contents.*/
main {
    width: 90%;
    margin: 1.5em 5%;
    padding: 0;
}

/*The "p" within "main" is the flexbox container.*/
main p {
    display: flex;
    flex-flow: row wrap; /*Shorthand for flex-direction, flex-wrap.*/
    justify-content: flex-start; /*Main axis.*/
    align-items: flex-start; /*Cross-axis.*/
    border-bottom: 1px solid #eee; /*grey 200*/
}

.votes-style {
    flex: initial; /*Shorthand for 0 1 auto (grow, shrink, basis).*/
    margin: 0 5% 0 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    line-height: 1.8;
    font-weight: 400;
}

#votes-column {
    flex: initial; /*Shorthand for 0 1 auto (grow, shrink, basis).*/
    margin: 0 5% 0 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    line-height: 1.8;
    font-weight: 400;
}

@media all and (min-width: 300px) {
    .votes-style, #votes-column {
        width: 15%;
        font-size: .825em;
    }
}

@media all and (min-width: 600px) {
    .votes-style, #votes-column {
        /*width inherited*/
        font-size: .875em;
    }
}

@media all and (min-width: 900px) {
    .votes-style, #votes-column {
        /*width inherited*/
        font-size: 1em;
    }
}

.state-style {
    flex: initial; /*Shorthand for 0 1 auto (grow, shrink, basis).*/
    margin: 0 5% 0 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    line-height: 1.8;
    font-weight: 400;
}

#state-column {
    flex: initial; /*Shorthand for 0 1 auto (grow, shrink, basis).*/
    margin: 0 5% 0 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    line-height: 1.8;
    font-weight: 400;
}

@media all and (min-width: 300px) {
    .state-style, #state-column  {
        width: 40%;
        font-size: .825em;
    }
}

@media all and (min-width: 600px) {
    .state-style, #state-column  {
        width: 50%;
        font-size: .875em;
    }
}

@media all and (min-width: 900px) {
    .state-style, #state-column  {
        width: 55%;
        font-size: 1em;
    }
}

.state-style:hover {
    cursor: pointer;
}

.w2016-style {
    flex: initial; /*Shorthand for 0 1 auto (grow, shrink, basis).*/
    margin: 0;
    padding: 0;
    font-family: 'Francois One', sans-serif;
    line-height: 1.8;
    font-weight: 400;
    text-align: center;
}

#w2016-column {
    flex: initial; /*Shorthand for 0 1 auto (grow, shrink, basis).*/
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    line-height: 1.8;
    font-weight: 400;
}

@media all and (min-width: 300px) {
    .w2016-style, #w2016-column {
        width: 35%;
        font-size: .825em;
    }
}

@media all and (min-width: 600px) {
    .w2016-style, #w2016-column {
        width: 25%;
        font-size: .875em;
    }
}

@media all and (min-width: 900px) {
    .w2016-style, #w2016-column {
        width: 20%;
        font-size: 1em;
    }
}

.state-picked {
    color: #bdbdbd; /*grey 400*/
}

#sum-circle {
    border: 1px solid #bdbdbd; /*grey 400*/
    border-radius: 50%;
    position: fixed;
    display: flex;
    flex-flow: row wrap; /*Shorthand for flex-direction, flex-wrap.*/
    justify-content: center; /*Main axis.*/
    align-items: center; /*Cross-axis.*/
    visibility: hidden;
}

@media all and (min-width: 300px) {
    #sum-circle {
        width: 4em;
        height: 4em;
    }
}

@media all and (min-width: 600px) {
    #sum-circle {
        width: 5em;
        height: 5em;
    }
}

@media all and (min-width: 900px) {
    #sum-circle {
        width: 6em;
        height: 6em;
    }
}

#sum-circle p {
    font-family: 'Francois One', sans-serif;
    line-height: 1.8;
    font-weight: 400;
}

@media all and (min-width: 300px) {
    #sum-circle p {
        font-size: .875em;
    }
}

@media all and (min-width: 600px) {
    #sum-circle p {
        font-size: 1em;
    }
}

@media all and (min-width: 900px) {
    #sum-circle p {
        font-size: 1.2em;
    }
}

/*Footer and its contents.*/
footer {
    width: 90%;
    margin: 0;
    padding: .5em 5%;
}

footer p {
    font-family: 'Merriweather', serif;
    line-height: 1.8;
    font-weight: 400;
}

@media all and (min-width: 300px) {
    footer p {
        font-size: .825em;
    }
}

@media all and (min-width: 600px) {
    footer p {
        font-size: .875em;
    }
}

@media all and (min-width: 900px) {
    footer p {
        font-size: 1em;
    }
}