html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start; /*main axis.*/
    align-items: flex-start; /*cross-axis.*/
    position: relative;
}

header {
    width: 95%;
    margin: 0;
    padding: .5em 2.5%;
    flex: initial; /*flex 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /*main axis.*/
    align-items: center; /*cross-axis.*/
    border-bottom: 1px solid #EEE; /*grey 200*/
}

#header-text {
    margin: 0;
    padding: 0;
    flex: initial; /*flex 0 1 auto*/
}

#header-button {
    margin: 0;
    padding: 0;
    flex: initial; /*flex 0 1 auto*/
}

@media all and (min-width: 300px) {
    #header-text {
        width: 60%;
    }

    #header-button {
        width: 35%;
    }
}

@media all and (min-width: 400px) {
    #header-text {
        width: 55%;
    }

    #header-button {
        width: 30%;
    }
}

@media all and (min-width: 500px) {
    #header-text {
        width: 50%;
    }

    #header-button {
        width: 25%;
    }
}

@media all and (min-width: 600px) {
    #header-text {
        width: 45%;
    }

    #header-button {
        width: 20%;
    }
}

#sum-text {
    background: #F5F5F5; /*grey 100*/
    visibility: hidden;
}

main {
    width: 95%;
    margin: 0;
    padding: 1em 2.5%;
    flex: 1; /*flex: 1 1 0*/
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /*main axis.*/
    align-items: flex-start; /*cross-axis.*/
    overflow: auto;
}

section {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial; /*flex 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /*main axis.*/
    align-items: center; /*cross-axis.*/
    border-bottom: 1px solid #EEE; /*grey 200*/
}

#votes-heading, .votes {
    margin: 0 5% 0 0;
    padding: 0;
    flex: initial; /*flex 0 1 auto*/
}

@media all and (min-width: 300px) {
    #votes-heading, .votes {
        width: 13%;
    }
}

@media all and (min-width: 340px) {
    #votes-heading, .votes {
        width: 15%;
    }
}

@media all and (min-width: 440px) {
    #votes-heading, .votes {
        width: 10%;
    }
}

#state-heading, .state {
    margin: 0 5% 0 0;
    padding: 0;
    flex: initial; /*flex 0 1 auto*/
}

@media all and (min-width: 300px) {
    #state-heading, .state {
        width: 37%;
    }
}

@media all and (min-width: 340px) {
    #state-heading, .state {
        width: 35%;
    }
}

@media all and (min-width: 440px) {
    #state-heading, .state {
        width: 30%;
    }
}

.state p {
    display: inline-block;
    cursor: pointer;
    text-decoration: underline;
}

#w2016-heading, .w2016 {
    margin: 0 5% 0 0;
    padding: 0;
    flex: initial; /*flex 0 1 auto*/
}

@media all and (min-width: 300px) {
    #w2016-heading, .w2016 {
        width: 35%;
    }
}

@media all and (min-width: 340px) {
    #w2016-heading, .w2016 {
        width: 30%;
    }
}

@media all and (min-width: 440px) {
    #w2016-heading, .w2016 {
        width: 25%;
    }
}

button {
    width: 100%;
    margin: 0;
    padding: 0 1em;
    outline: none;
    border: 1px solid #EEE; /*grey 200*/
    border-radius: 4px;
}

.selects {
    color: #BDBDBD; /*grey 400*/
}

footer {
    width: 95%;
    margin: 0;
    padding: 0 2.5%;
    background: #F5F5F5; /*grey 100*/
}

/*Fonts*/
p, button {
    font-family: 'Roboto', serif;
    line-height: 1.8;
    font-weight: 400;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-weight: 700;
}

@media all and (min-width: 300px) {
    p, button {
        font-size: .875em;
    }

    h1 {
        font-size: 1.2em;
    }
}

@media all and (min-width: 400px) {
    p, button {
        font-size: .9375em;
    }

    h1 {
        font-size: 1.4em;
    }
}

@media all and (min-width: 600px) {
    p, button {
        font-size: 1em;
    }

    h1 {
        font-size: 1.6em;
    }
}